.form {
    position: fixed;
    top: 50px; /* Ajusta esta distancia desde la parte superior de la pantalla */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta el elemento a la izquierda para que esté centrado */
    background-color: rgb(7, 46, 80);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.329);
    color: whitesmoke;
}

.form input{
    width: 100%;
    height: 22px;
    font-size: larger;
    border-style: none;
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.329) inset;
    border-radius: 3px;
    margin-bottom: 7px;
}

.form select{
    width: 100%;
    height: 22px;
    font-size: larger;
    border-style: none;
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.329) inset;
    border-radius: 3px;
    margin-bottom: 7px;
}



.button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}
.divButtons {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 20px; /* Espacio entre los botones, ajusta según sea necesario */
}