.table-container {
    padding: 20px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
  }
  
  .custom-table th, .custom-table td {
    padding: 10px;
    text-align: center;
    background-color: grey;
    border: 1px solid black;
    border-radius: 8px;
    color: white;
  }
  
  .custom-table th {
    background-color: #333;
  }
  
  .custom-table td {
    background-color: #555;
  }
  